// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$black: #000000;
$react-navy: #2C3E50;
$react-navy-light: #3A5169;
$react-teal: #61DAFB;
$react-teal-light: #42B983;
$gray: #666A73;
$light-gray: #F8F8F8;
$white: #FFFFFF;
