// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html,
body {
  margin: 0;
  background: $light-gray;
  color: $react-navy;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 85vh;
}

h1 {
  font-size: 3.6em;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
  color: $react-teal;
}

.repository {
  margin-top: 5rem;
  text-align: center;

  a {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: $react-teal;

    &:hover {
      text-decoration: underline;
    }
  }
}